<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
</head>
<body style="
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(#3d3d3d, #000000);
    background-repeat: no-repeat;
    background-size: 100% 100%;">
<div class="container-fluid">
    <div class="text-center p-6" style="color: white"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/users/{user_id}/houses/save/{house_id}(house_id=${#strings.toString(house.id)}, user_id=${#strings.toString(user_id)})}"
          method="post" th:object="${house}"
          style="max-width: 250px; margin: 0 auto;">
        <input type="hidden" th:field="*{house.id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <div style="margin-bottom: 10px">
                    <input type="text" placeholder="Street name" th:field="*{house.address}" class="form-control"
                           required>
                </div>
                <div style="margin-bottom: 10px">
                    <input type="text" placeholder="House Nr" th:field="*{house.houseNum}" class="form-control"
                           required>
                </div>
                <div style="margin-bottom: 10px">
                    <input type="text" placeholder="ZIP Code" th:field="*{house.zip}" class="form-control" required>
                </div>
                <div style="margin-bottom: 10px">
                    <input type="text" placeholder="Value" th:field="*{house.price}" class="form-control" required>
                </div>
                <div style="margin-bottom: 10px">
                    <input type="text" placeholder="Area" th:field="*{house.area}" class="form-control" required>
                </div>
                <!--                <div style="margin-bottom: 10px">-->
                <!--                    <input type="text" placeholder="User" th:field="*{area}" class="form-control">-->
                <!--                </div>-->
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Save</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
    </form>


</div>

<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/users}]]";
    }
</script>

</body>
</html>